#meetingTitle{
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}

#nextMeetingTitle{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}

#sprintPlanningCard{
    background: #ffffff;
    border-radius: 15px;
    height: 200px;
}

#sprintPlanningCard h1{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    padding: 14px;
}

.sprintPlanningGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    max-width: 500px;
    margin: 0 auto;
    padding: 14px;
}

.sprintPlanningGrid p{
    font-size: 16px;
    font-family: sans-serif;
    color: black;
}




#upcomingMeetings{
     font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;

}

.upcomingMeetingCard{
    background: #ffffff;
    border-radius: 15px;
    height:200px;
    width: 300px;
    padding : 14px;

}

.background{
    background: rgb(98, 167, 98);
    border-radius: 25px;
    height: 150px;
    width: 300px;
    
}



.upcomingMeetingCard h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    padding: 14px;
}


.upcomingMeetingCard p {
    font-size: 16px;
    

}

.upcomingMeetingsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    max-width: 500px;
    margin: 0 auto;
    padding: 14px;
    
}

.upcomingMeetingsGrid p {
    font-size: 16px;
    font-family: sans-serif;
    background: #0c0a0a;
    border-radius: 10px;
    padding: 3px;
    
}

.meetingDetails{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 14px;
}

#previousMeetings{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    padding: 14px;
}


.previousMeetingCard{
    background: #ffffff;
    border-radius: 15px;
    height:200px;
    width: 300px;
    padding : 14px;

}

.previousMeetingCard h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    padding: 14px;
}


.previousMeetingsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    max-width: 500px;
    margin: 0 auto;
    padding: 14px;
    
}

.previousMeetingsGrid p{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    padding: 14px;
}

.Details{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 14px;
}

.backgroundPrevious{
    background: rgb(44, 12, 162);
    border-radius: 25px;
    height: 150px;
    width: 300px;
    
}


.previousMeetingsGrid p {
    font-size: 16px;
    font-family: sans-serif;
    background: #0c0a0a;
    border-radius: 10px;
    padding: 3px;
    
}




